In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [55]:
df = pd.read_csv('C:\\Users\\ryan\\Desktop\\Thinkful DS Sample Data - Main Course\\Unit 3\\Combined_News_DJIA.csv')

In [56]:
df.head(2)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."

In [57]:
df.tail(2)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
1987,2016-06-30,1,Jamaica proposes marijuana dispensers for tour...,Stephen Hawking says pollution and 'stupidity'...,Boris Johnson says he will not run for Tory pa...,Six gay men in Ivory Coast were abused and for...,Switzerland denies citizenship to Muslim immig...,Palestinian terrorist stabs israeli teen girl ...,Puerto Rico will default on $1 billion of debt...,Republic of Ireland fans to be awarded medal f...,...,Googles free wifi at Indian railway stations i...,Mounting evidence suggests 'hobbits' were wipe...,The men who carried out Tuesday's terror attac...,Calls to suspend Saudi Arabia from UN Human Ri...,More Than 100 Nobel Laureates Call Out Greenpe...,British pedophile sentenced to 85 years in US ...,"US permitted 1,200 offshore fracks in Gulf of ...",We will be swimming in ridicule - French beach...,UEFA says no minutes of silence for Istanbul v...,Law Enforcement Sources: Gun Used in Paris Ter...
1988,2016-07-01,1,A 117-year-old woman in Mexico City finally re...,IMF chief backs Athens as permanent Olympic host,"The president of France says if Brexit won, so...",British Man Who Must Give Police 24 Hours' Not...,100+ Nobel laureates urge Greenpeace to stop o...,Brazil: Huge spike in number of police killing...,Austria's highest court annuls presidential el...,"Facebook wins privacy case, can track any Belg...",...,"The United States has placed Myanmar, Uzbekist...",S&amp;P revises European Union credit rating t...,India gets $1 billion loan from World Bank for...,U.S. sailors detained by Iran spoke too much u...,Mass fish kill in Vietnam solved as Taiwan ste...,Philippines president Rodrigo Duterte urges pe...,Spain arrests three Pakistanis accused of prom...,"Venezuela, where anger over food shortages is ...",A Hindu temple worker has been killed by three...,Ozone layer hole seems to be healing - US &amp...

In [58]:
news = pd.read_csv('C:\\Users\\ryan\\Desktop\\Thinkful DS Sample Data - Main Course\\Unit 3\\RedditNews.csv')

In [59]:
news.tail(2)

             Date                                               News
73606  2008-06-08  b"UK: Identity cards 'could be used to spy on ...
73607  2008-06-08  b'Marriage, they said, was reduced to the stat...

In [60]:
djia = pd.read_csv('C:\\Users\\ryan\\Desktop\\Thinkful DS Sample Data - Main Course\\Unit 3\\DJIA_Table.csv')

In [61]:
djia.head(2)

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234

In [62]:
type(djia['Date'])

pandas.core.series.Series

In [98]:
djia['Label'] = np.where(djia['Close'] > djia['Open'], 1, 0)

In [100]:
testmerge = pd.merge(news, djia[['Date', 'Label']], on='Date', how = 'left')

In [104]:
testmerge[testmerge['Date']=='2016-06-11']

           Date                                               News  Label
500  2016-06-11  Vandals burn 220 hives containing 250,000 bees...    NaN
501  2016-06-11  Exclusive: Studies find 'super bacteria' in Ri...    NaN
502  2016-06-11  Nigeria busts ISIS recruiting cell as U.S. dis...    NaN
503  2016-06-11  Milky Way no longer visible to one third of hu...    NaN
504  2016-06-11  Hundreds Of Thousands Of People Have Been Ensl...    NaN
505  2016-06-11  U.S. Approves 6 Airlines for Direct Flights to...    NaN
506  2016-06-11  Global ad provider Google has come out in favo...    NaN
507  2016-06-11  Japan gives its first element a name, and it's...    NaN
508  2016-06-11  Dutch woman held in Qatar after making rape co...    NaN
509  2016-06-11  Under Israeli pressure, Facebook and Twitter d...    NaN
510  2016-06-11  Physicists Confirm There's a Second Layer of I...    NaN
511  2016-06-11  BBC investigation has found young migrants, in...    NaN
512  2016-06-11  The United States has condemned Bashar al-Assa...    NaN
513  2016-06-11  England-Russia fans could be explosive mix, wa...    NaN
514  2016-06-11  Crowds steal flour, chicken and underwear in l...    NaN
515  2016-06-11  Bounty offered to kill Philippine president el...    NaN
516  2016-06-11  US college exam cancelled in South Korea and H...    NaN
517  2016-06-11  The Syrian military has reportedly attacked th...    NaN
518  2016-06-11  China Restricts Ramadan Fast For Muslim Uyghur...    NaN
519  2016-06-11  'Lost' Medieval City Discovered Beneath Cambod...    NaN
520  2016-06-11    US-Backed Forces Cut All Routes To IS-Held City    NaN
521  2016-06-11  Syria: Twin bombings rock Damascus suburb Sayy...    NaN
522  2016-06-11  The night sky is vanishing, with the Milky Way...    NaN
523  2016-06-11  Canada tells South African firefighters to lea...    NaN
524  2016-06-11  Eritrean accused of being people smuggling kin...    NaN

In [147]:
df_new = pd.DataFrame()
counter = 1
row_index = 0
for row in range(len(testmerge)):
    if counter < 26:
        df_new.iloc[row_index][counter] = testmerge.iloc[row]['News']
        counter = counter + 1
        print('step1row',row)
        if counter >= 26:
            counter = 1
            row_index = row_index + 1
            df_new.iloc[row_index][counter] = testmerge.iloc[row]['News']

IndexError: single positional indexer is out-of-bounds